
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link type="text/css" href="{$smarty.const.ADMIN_CSS_URL}nav.css" rel="stylesheet"/>
<script type="text/javascript" src="{$smarty.const.ADMIN_JS_URL}jQuery1.7.2.js"></script>
</head>

<body>
<form method="post" action="" name="form1">
<div class="v52fmbx_tbmax">
    <table class="table">
        <tr>
            <td class="list">网站名称</td>  
            <td class="list">网站url</td>         
            <td class="list">站长邮箱</td>         
            <td class="list">操作</td>  
        </tr>
        <tr>
            <td class="list"><input type="text" name="web_name"></td>  
            <td class="list"><input type="text" name="web_url"></td>  
            <td class="list"><input type="text" name="web_email"></td>  
            <td class="list"><input type="submit"></td>   
        </tr>
    </table>
</div>
</form>
</body>
</html>